<div>


  <div class="mainarea">

    <div class="favlinkarea">
      <mat-chip-list>
        <mat-chip *ngFor="let dlink of settings.favlinks?.defaultlinks" (mouseenter) ="fn_hover(dlink)"  (mouseleave) ="fn_hover(null)" [selectable]="selectable" (click)="fn_open(dlink, false)">
          {{dlink.title}}
        </mat-chip>

        <button mat-icon-button matTooltip="Toggle edit mode" matTooltipPosition="below" (click)="fn_editmode()">
          <mat-icon class="mat-24" [ngClass]="{'accentcolor': editmode}" aria-label="mode_edit">mode_edit</mat-icon>
        </button>

      </mat-chip-list>
    </div>

    <form>
      <table *ngIf="editmode" class="editarea" cellspacing="0"><tr>
        <td ><mat-form-field class="namearea">
          <input name="toolslist_name" matInput #message_name maxlength="20" placeholder="Name" [(ngModel)]="newlink.title">
          <mat-hint align="end">{{message_name.value.length}} / 20</mat-hint>
        </mat-form-field></td>
        <td><mat-form-field class="urlarea">
          <input name="toolslist_value" matInput placeholder="Website URL" [(ngModel)]="newlink.value" >
        </mat-form-field></td>
        <td>
          <button mat-icon-button matTooltip="{{editingTip}}" matTooltipPosition="below"  (click)="fn_upset()">
            <mat-icon class="mat-24 accenthover" *ngIf="!editing" aria-label="mode_edit">add</mat-icon>
            <mat-icon class="mat-24 accenthover" *ngIf="editing" aria-label="mode_edit">update</mat-icon>
          </button>
        </td>
      </tr></table>
    </form>

    <div>
      <mat-chip-list matPrefix #chipList>
        <mat-chip *ngFor="let dlink of settings.favlinks?.customlinks" [selectable]="selectable"
                 (mouseenter) ="fn_hover(dlink)"  (mouseleave) ="fn_hover(null)"
                 (click)="fn_open(dlink, true)"
                 [removable]="removable" (remove)="remove(dlink)" >
          <span [ngClass]="{'accentcolor': editing==dlink}">{{dlink.title}}</span>
          <mat-icon class="accenthover" *ngIf="editmode" matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

  </div>

  <div class="hintarea">
    {{hovering.value}}
  </div>



</div>
