<div>


  <div style="max-height:230px; overflow:auto">

    <div style="margin-top:10px">
      <md-chip-list>
        <md-chip *ngFor="let dlink of settings.favlinks?.defaultlinks" (mouseenter) ="fn_hover(dlink)"  (mouseleave) ="fn_hover(null)" [selectable]="selectable" style="cursor:pointer" (click)="fn_open(dlink, false)">
          {{dlink.title}}
        </md-chip>

        <button md-icon-button mdTooltip="Toggle edit mode" mdTooltipPosition="below" (click)="fn_editmode()">
          <md-icon class="md-24" [ngClass]="{'accentcolor': editmode}" aria-label="mode_edit">mode_edit</md-icon>
        </button>

      </md-chip-list>
    </div>

    <form>
      <table *ngIf="editmode" style="width:100%; margin-top:5px; margin-bottom:10px;" cellspacing="0"><tr>
        <td ><md-form-field style="width:130px">
          <input name="toolslist_name" mdInput #message_name maxlength="20" placeholder="Name" [(ngModel)]="newlink.title">
          <md-hint align="end">{{message_name.value.length}} / 20</md-hint>
        </md-form-field></td>
        <td><md-form-field style="width:320px">
          <input name="toolslist_value" mdInput placeholder="Website URL" [(ngModel)]="newlink.value" >
        </md-form-field></td>
        <td>
          <button md-icon-button mdTooltip="{{editingTip}}" mdTooltipPosition="below"  (click)="fn_upset()">
            <md-icon class="md-24 accenthover" *ngIf="!editing" aria-label="mode_edit">add</md-icon>
            <md-icon class="md-24 accenthover" *ngIf="editing" aria-label="mode_edit">update</md-icon>
          </button>
        </td>
      </tr></table>
    </form>

    <div>
      <md-chip-list mdPrefix #chipList>
        <md-chip *ngFor="let dlink of settings.favlinks?.customlinks" [selectable]="selectable"
                 (mouseenter) ="fn_hover(dlink)"  (mouseleave) ="fn_hover(null)"
                 style="cursor:pointer" (click)="fn_open(dlink, true)"
                 [removable]="removable" (remove)="remove(dlink)" >
          <span [ngClass]="{'accentcolor': editing==dlink}">{{dlink.title}}</span>
          <md-icon class="accenthover" *ngIf="editmode" mdChipRemove>cancel</md-icon>
        </md-chip>
      </md-chip-list>
    </div>

  </div>

  <div style="height:20px; display: table-cell; vertical-align: bottom;">
    {{hovering.value}}
  </div>



</div>
