
.mainarea{
  height:239px;
  position:relative;
}

.tablearea{
  position:absolute;
  left:0;
  right:0;
  top:20px;
  bottom:5px;
  overflow:auto
}



.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-row, .mat-row {
  padding: 0 0;
}

.customWidthClass_icon{
  flex: 0 0 40px;
}
.customWidthClass_activated{
  flex: 0 0 55px;
  text-align:center
}

::ng-deep .mat-sort-header-container {
  justify-content:center
}
