
.mainarea{
  height:239px;
  position:relative;
}

.tablearea{
  position:absolute;
  left:0;
  right:0;
  top:20px;
  bottom:0px;
  overflow:auto
}

.mat-table {
  overflow: auto;
  max-height: 505px;
}

.mat-header-row, .mat-row {
  padding: 0 0;
}

.customWidthClass_icon{
  flex: 0 0 100px;
}
.customWidthClass_activated{
  flex: 0 0 55px;
  text-align:center
}
.customWidthClass_websites{
  flex: 0 0 100px;
  text-align:center
}
.customWidthClass_delete{
  flex: 0 0 30px;
}

::ng-deep .mat-sort-header-container {
  justify-content:center
}

.title{
  display: flex;
  flex-direction: row;
  align-items: center;

}

