<div class="mainarea">

  <div class="statusarea">
    <div class="title">
      <div>
        Run JS code of activated Auto Runs when webpage is loaded.
      </div>
    </div>
    <div>
      <!--<mat-slide-toggle [checked]="settings?.autorun?.running" (change)="fn_change_running()">-->
        <!--<span *ngIf="settings?.autorun?.running">ON</span>-->
        <!--<span *ngIf="!settings?.autorun?.running">OFF</span>-->
      <!--</mat-slide-toggle>-->
    </div>
  </div>

  <div class="tablearea">

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="activated">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass_activated'">
          Activated
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass_activated customWidthClass_center'">
          <mat-checkbox [(ngModel)]="element.activated" (change)="fn_change_activated(element)"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass_icon'">
          <button mat-icon-button matTooltip="Create your own Auto Run code" matTooltipPosition="below"  >
            <mat-icon class="mat-24 accenthover" (click)="fn_edit(null, null)" aria-label="add">add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass_icon'">
          <button mat-icon-button matTooltip="Edit Auto Run script" matTooltipPosition="below"  >
            <mat-icon class="mat-24 accenthover" (click)="fn_edit(element, 'script')" aria-label="mode_edit">mode_edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Change settings" matTooltipPosition="below" *ngIf="element.parameters && element.parameters.length>0" >
            <mat-icon class="mat-24 accenthover" (click)="fn_edit(element, 'setting')" aria-label="setting">settings</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.name}}
          <span *ngIf="element.describe" class="small-mat-icon">
            <mat-icon matTooltip="{{element.describe}}" class="cursordefault" aria-label="help">help</mat-icon>
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="websites">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass_websites'"> Websites </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass_websites'"> {{element.websites}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete" >
        <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass_delete'"></mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass_delete'">
          <button mat-icon-button [matMenuTriggerFor]="menudelete" matTooltip="Delete" matTooltipPosition="below"  >
            <mat-icon class="mat-24 accenthover" aria-label="delete">remove_circle</mat-icon>
          </button>
          <mat-menu #menudelete="matMenu">
            <button mat-menu-item disabled>Delete "{{element.name}}"?</button>
            <button mat-menu-item (click)="fn_delete(element)">Yes</button>
            <button mat-menu-item>Cancel</button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>


</div>
