
.mainarea{
  height:340px;
  width:100%;
  position:relative;
}

.tablearea{
    display: flex;
    flex-direction: column;
    height: 305px;
}

.mat-table {
    height: 100%;
    overflow: auto;
}

.mat-header-row, .mat-row {
  padding: 0 0;
}

.customWidthClass_icon{
  flex: 0 0 100px;
}
.customWidthClass_activated{
  flex: 0 0 55px;
  text-align:center
}
.customWidthClass_websites{
  flex: 0 0 100px;
  text-align:center
}
.customWidthClass_delete{
  flex: 0 0 30px;
}

::ng-deep .mat-sort-header-container {
  justify-content:center
}

.title{
  display: flex;
  flex-direction: row;
  align-items: center;

}

