<div>

  <div class="statusarea">
    <div>
      Click the section to hide it!
    </div>
    <div>
      <md-slide-toggle [checked]="settings.clicktohide.running" (change)="fn_change_running()">
        <span *ngIf="settings.clicktohide.running">ON</span>
        <span *ngIf="!settings.clicktohide.running">OFF</span>
      </md-slide-toggle>
    </div>
  </div>

  <div>
    <md-select placeholder="Activation Key" [(ngModel)]="settings.clicktohide.activationKey" (change)="fn_change()">
      <md-option *ngFor="let key of keys" [value]="key.value">
        {{ key.title }}
      </md-option>
    </md-select>
  </div>
  <div class="hintarea">
    <p>
      Hold the Activation Key and single click to hide the selected area.
    </p>
    <p>
      Hold the Activation Key and double click to show all the hidden areas.
    </p>
  </div>

  <md-form-field class="fullwidth">
    <input mdInput name="clicktotrigger_titleName" placeholder="Replace webpage title with" [(ngModel)]="settings.clicktohide.titleName" (change)="fn_change()">
  </md-form-field>

</div>
