<div class="transfer">
  <div class="headerarea">
    <div>
      Settings JSON (Used for settings transfer)
    </div>
    <div>
      <!--<mat-icon class="mat-24 accenthover cursordefault" aria-label="refresh" matTooltip="Refresh the settings JSON" matTooltipPosition="below" (click)="fn_refresh()">refresh</mat-icon>-->
      <mat-icon class="mat-24 accenthover cursordefault" aria-label="clear" matTooltip="Clear the following text area" matTooltipPosition="below" (click)="fn_clear()">clear</mat-icon>
      <mat-icon class="mat-24 accenthover cursordefault" aria-label="restore" matTooltip="Load default settings JSON" matTooltipPosition="below" (click)="fn_default()">restore</mat-icon>
      <mat-icon class="mat-24 accenthover cursordefault" aria-label="content_copy" matTooltip="Copy to memory clipboard" matTooltipPosition="below" (click)="fn_copy()">content_copy</mat-icon>
      <mat-icon class="mat-24 accenthover cursordefault" aria-label="save" matTooltip="Save to local file" matTooltipPosition="below" (click)="fn_save()">save</mat-icon>
      <mat-icon class="mat-24 accenthover cursordefault" aria-label="settings" matTooltip="Apply the settings JSON" matTooltipPosition="below" (click)="fn_set()">settings</mat-icon>
    </div>

  </div>

  <div class="edit">
    <textarea matInput placeholder="Settings JSON" [(ngModel)]="settingsText"></textarea>
  </div>

</div>
