<div class="main">

  <div class="labeldiv">
    <div>
      <span class="title">
        Webpage Formatter
      </span>
      <span>
        <a class="version" target="_blank" href="https://chrome.google.com/webstore/detail/webpage-formatter/oghkhbjjhjmlonobjmkinpeaiadoolfa">
          v{{info.version}}
        </a>
      </span>
    </div>
    <div class="navmenus">
      <a #link_tools (click)="changeTab('tools')" [ngClass]="{'current': settings.starttab=='tools'}" >Tools</a>
      <a #link_customcode (click)="changeTab('customcode')" [ngClass]="{'current': settings.starttab=='customcode'}" >Auto Run</a>
      <a #link_transfer (click)="changeTab('transfer')" [ngClass]="{'current': settings.starttab=='transfer'}" >Settings</a>
    </div>
    <div class="mainstatusarea">
      <mat-slide-toggle [checked]="settings.running" (change)="fn_change_running()">
        <span *ngIf="settings.running">ON</span>
        <span *ngIf="!settings.running">OFF</span>
      </mat-slide-toggle>
    </div>
  </div>

  <div class="content">
    <app-toolslist [hidden]="settings.starttab!='tools'" #tools></app-toolslist>
    <app-customcode [hidden]="settings.starttab!='customcode'" #customcode ></app-customcode>
    <app-transfer [hidden]="settings.starttab!='transfer'" #transfer ></app-transfer>
  </div>

  <div class="bottom">

    <div class="centerdiv" *ngIf="settings.starttab=='customcode'">
      <div>
        Find official Auto Run code on
      </div>
      <div class="imagearea">
        <a target="_blank" href="https://www.swiftformatter.com/webpage">
          <img class="facebook" src="../on.png">
        </a>
      </div>
      <div>
        Share & find more on
      </div>
      <div class="imagearea">
        <a target="_blank" href="https://www.facebook.com/swiftformatter">
          <img class="facebook" src="../FB-fLogo-Blue-broadcast-2.png">
        </a>
      </div>
    </div>

    <div></div>

    <div class="centerdiv">
      <a target="_blank" href="https://www.facebook.com/swiftformatter" *ngIf="settings.starttab!='customcode'">
        <img class="facebook" src="../FB-fLogo-Blue-broadcast-2.png">
      </a>
      <a href="https://www.swiftformatter.com" target="_blank">swiftformatter.com</a>
    </div>

  </div>


</div>
