.main{
  width:500px;
}

.labeldiv{
  position:relative;
  text-align:center;
}

.mainstatusarea{
  position:absolute;
  right:10px;
  top:10px;
}

.tabarea{
  height:300px
}

.bottom{
  text-align:right;
  margin-top:20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.bottom a {
  margin-left:10px;
}

.facebook{
  width:20px;
}
