<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->
<div class="main">

  <div class="labeldiv">
    <h2>
      Webpage Formatter
    </h2>
    <div class="mainstatusarea">
      <mat-slide-toggle [checked]="settings.running" (change)="fn_change_running()">
        <span *ngIf="settings.running">ON</span>
        <span *ngIf="!settings.running">OFF</span>
      </mat-slide-toggle>
    </div>
  </div>

  <mat-tab-group [selectedIndex]="settings.starttab" class="tabarea" (selectChange)="fn_selectedTabChange($event)">
    <mat-tab label="Tools">
      <app-toolslist [(settings)]="settings"></app-toolslist>
    </mat-tab>
    <mat-tab label="Auto run">
      <app-customcode #customcode [(settings)]="settings" ></app-customcode>
    </mat-tab>
    <mat-tab label="Settings" >
      <app-transfer #transfer ></app-transfer>
    </mat-tab>
  </mat-tab-group>

  <div class="bottom">

    <div class="centerdiv" *ngIf="selectedTab=='customcode'">
      <div>
        Find official Auto Run code on
      </div>
      <div class="imagearea">
        <a target="_blank" href="https://www.swiftformatter.com/webpage">
          <img class="facebook" src="../on.png">
        </a>
      </div>
      <div>
        Find more on
      </div>
      <div class="imagearea">
        <a target="_blank" href="https://www.facebook.com/swiftformatter">
          <img class="facebook" src="../FB-fLogo-Blue-broadcast-2.png">
        </a>
      </div>
    </div>

    <div></div>

    <div class="centerdiv">
      <a target="_blank" href="https://www.facebook.com/swiftformatter" *ngIf="selectedTab!='customcode'">
        <img class="facebook" src="../FB-fLogo-Blue-broadcast-2.png">
      </a>
      <a href="https://www.swiftformatter.com" target="_blank">swiftformatter.com</a>
    </div>

  </div>


</div>
