.main{
  width:550px;
}

.labeldiv{
  position:relative;
  text-align:center;
}

.mainstatusarea{
  position:absolute;
  right:10px;
  top:10px;
}

.tabarea{
  height:300px
}

.bottom{
  text-align:right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bottom a {
  margin-left:5px;
}

.bottom .centerdiv{
  margin-top:10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom .facebook{
   width:20px;
}

.bottom .imagearea{
   margin-right:10px;
}


