<!--The content below is only a placeholder and can be replaced.-->
<div style="width:500px; ">

  <div style="position:relative;text-align:center;">
    <h3>
      Webpage formatter
    </h3>
    <div style="position:absolute; right:10px; top:10px;">
      <md-slide-toggle [checked]="settings.running" (change)="fn_change_running()">
        <span *ngIf="settings.running">ON</span>
        <span *ngIf="!settings.running">OFF</span>
      </md-slide-toggle>
    </div>
  </div>


  <md-tab-group>
    <md-tab label="Online tools">
      <app-toolslist [(settings)]="settings"></app-toolslist>
    </md-tab>
    <md-tab label="Click to hide">
      <app-clicktotrigger [(settings)]="settings"></app-clicktotrigger>
    </md-tab>
    <md-tab label="Auto run">
      <app-customcode [(settings)]="settings"></app-customcode>
    </md-tab>
  </md-tab-group>




  <div style="text-align:right; margin-top:20px">
    <a href="http://www.swiftformatter.com" target="_blank">swiftformatter.com</a>
  </div>


</div>
